.user{
  display: flex;
  padding: 30rpx;
  background: #52495b;
  color: #ffffff;
  padding-top: 0;
  .user-avatar{
    width: 80rpx;
    height: 80rpx;
    border-radius: 100%;
    background-size: cover;
    margin-right: 40rpx;
    background-color: #ffffff;
  }
  .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40rpx;
  }
}

.count{
  background: #ffffff;
  padding: 30rpx 20rpx;
  margin: 20rpx 0;
  // box-shadow: 3px 4px 12px 0 rgba(0,0,0,.1);
  display: flex;
  border-radius: 10rpx;
  &>view{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    &>view:nth-child(1){
      color: #999999;
    }
    &>view:nth-child(2){
      color: #52495b;
      font-size:50rpx;
      padding-top: 20rpx;
      // height:100rpx;
    }
  }
  &>view:nth-child(2){
    border-left:1rpx solid #999999;
    border-right:1rpx solid #999999;
  }
  
  
}

.list{
  .list-item{
    display: flex;
    align-items: center;
    height: 100rpx;
    padding: 0 20rpx;
    background: #ffffff;
    margin-bottom: 10rpx;
    i:nth-child(1){
      margin-right: 20rpx;
      font-size:43rpx;
    }
    text:nth-child(2){
      flex: 1;
      text-align: left;
      font-size:30rpx;
    }
    .round{
      color: red;
      padding-right: 20rpx;
    }
  }
  &>button{
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 0;
    border: 0;
  }
  &>button::after {
    border: none;
    border-radius: 0;
  }
}