.user{
  display: flex;
  padding: 20rpx;
  background: #52495b;
  color: #ffffff;
  padding-top: 0;
  border-bottom-left-radius: 30rpx;
  border-bottom-right-radius: 30rpx;
  margin-bottom: 20rpx;
  .user-avatar{
    width: 80rpx;
    height: 80rpx;
    border-radius: 100%;
    background-size: cover;
    margin-right: 40rpx;
    background-color: #ffffff;
  }
  .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40rpx;
  }
}

.count{
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  margin-bottom: 20rpx;
  padding: 20rpx;
  &>view:nth-child(1){
    // color: #ffffff;
  }
  &>view:nth-child(2){
    font-size: 70rpx;
    font-weight: 800;
  }
}

.list{
  .list-item{
    display: flex;
    align-items: center;
    height: 100rpx;
    padding: 0 20rpx;
    background: #ffffff;
    margin-bottom: 10rpx;
    i:nth-child(1){
      margin-right: 20rpx;
      font-size:43rpx;
    }
    text:nth-child(2){
      flex: 1;
      text-align: left;
      font-size:30rpx;
    }
    .round{
      color: red;
      padding-right: 20rpx;
    }
  }
  &>button{
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 0;
    border: 0;
  }
  &>button::after {
    border: none;
    border-radius: 0;
  }
}