.diy_nav{
  width:100vw;
  background-color: #52495b;
  position: sticky;
  top: 0;
  .nav{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    navigator{
      width: 70rpx;
      height: 70rpx;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      image{
        width: 60rpx;
        height: 60rpx;
        display: block;
      }
    }
    navigator:first-child{
      margin-left: 10rpx;
    }
    view:last-child{
      margin-left: 10rpx;
    }
    .avatar{
      width: 45rpx;
      height: 45rpx;
      border-radius: 100%;
      overflow: hidden;
      margin:0 20rpx;
      image{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .title{
      flex: 1;
      color: #ffffff;
      text-align: center;
      max-width: calc(100vw - 300rpx);
      overflow: hidden;
      white-space: nowrap;
    }
  }
}