.note_one{
  position: fixed;
  right: 100rpx;
  bottom: 100rpx;
  color: #52495b;
  font-size: 80rpx;
  background: #f6f6f6;
  border-radius: 100%;
}
.head{
  padding: 20rpx;
  background: #52495b;
  color:#ffffff;
  &>view:nth-child(1){
    font-size: 34rpx;
    font-weight: 700;
    margin-bottom: 20rpx;
  }
  &>view:nth-child(2){
    font-size: 24rpx;
    font-weight: 400;
  }
}